/* Structure */
table {
  width: 85%;
  margin: 5px;
  
}

.mat-form-field {
  font-size: 14px;
}

.mat-grid-list{
  margin: 10px 0 0 0;

}
.example-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  
}

button#green{
  background-color: #2ecc71;
}